<!DOCTYPE html>
<html>
{{> head}}

<body class="main">
  {{> navbar}}

  <div id="wrapper" class="px-4">
    <div style="min-height: 14px;">
      <progress style="display: none" class="progress is-small" max="100">20%</progress>
    </div>
    <section class="section">
      <div class="container">
        <h1 class="title is-3">
          Create Credential
        </h1>
        <h1 class="subtitle is-3">
         Using your browser's inbuilt WebAuthN APIs, generate a test credential you can use 
         to complete the account linking process.
        </h1>
      </div>
    </section>

    <section id="enterConsent" class="section is-medium">
      <div class="container">
        <h1 class="title is-6">Step 1</h1>  
        <p>Enter in the Consent you received from the DFSP to generate a challenge.</p>
        <p>The challenge is generated based on the `consentId` and `scopes` objects in the Consent.</p> 
        <br/>
        <div class="field">
          <label class="label">Paste in the Consent object you received in `POST /consents`</label>
          <div class="control">
            <textarea 
              id="consentTextArea" 
              class="textarea" 
              placeholder="{...}"
              oninput="consentTextAreaOnInput(this.value)" 
              rows="10"></textarea>
          </div>
          <p style="display: none" id="consentInvalidHelp" class="help is-danger">This Consent is invalid</p>
        </div>

        <div id="submitConsentField" class="field">
          <div class="control pt-2">
            <button style="display: none" id="submitConsentButton" class="button is-link" onclick="onSubmitConsentPressed()">
              Submit
            </button>
          </div>
        </div>
      </div>
    </section>

    <section id="enterDerivedChallenge" class="section is-medium">
      <div class="container">  
        <h1 class="title is-6">Step 2</h1>
        <p>Confirm your generated challenge.</p>
        <div class="field">
          <label class="label">Your generated challenge is:</label>
          <div class="control">
            <input id="generatedChallengeInput" class="input" type="text" placeholder="asdasda" disabled>
          </div>
        </div>

        <div id="submitChallengeField" class="field">
          <div class="control pt-2">
            <button style="display: block" id="submitChallengeButton" class="button is-link" onclick="onSubmitChallengePressed()">
              OK
            </button>
          </div>
        </div>
      </div>
    </section>

    <section id="registerCredential" class="section is-medium">
      <div class="container"> 
        <h1 class="title is-6">Step 3</h1>
        <p>Register your credential.</p>
        <!-- TODO: update this text  to be non-yubikey specific! -->
        <p>In order to test WebAuthn with your Authenticator the first step is to perform a registration on the website. FIDO2 or U2F
        devices will work in a browser that supports WebAuthn.</p>
        <p>Example authenticators tested: </p>
        <ul>
          <li>- TouchID on Chrome (MacOS)</li>
          <li>- YubiKey </li>
        </ul>
        <div class="field">
          <div class="control pt-2">
            <button style="display: block" id="registerCredentialButton" class="button is-link" onclick="onRegisterCredentialButtonPressed()">
              Register
            </button>
          </div>
        </div>
      </div>
    </section>

    <section id="registrationSuccess" class="section is-medium">
      <div class="container"> 
        <h1 class="title is-6">Registration Success!</h1>       
        <p>You can now attach the following credential object to your response: </p>
        <pre id="credentialCopy">{...}</pre>
        <p>And complete the 3PPI account linking process.</p>
        
        <p>Make sure you keep a hold of your key id:</p>
        <pre id="credentialIdCopy">{...}</pre>
        <p></p>as you will need it for future transactions</p>
      </div>
    </section>

    <section id="nextSteps" class="section is-medium" style="display: block">
      <div class="container">
        <h3 class="subtitle is-5">Here's what you can do next:</h3>
        <div class="columns">
          <div class="column">
            <a class="box" href="{{baseUrl}}/verify_transaction">
              <h3 class="title is-6">Verify a Transaction</h3>
              <h4 class="subtitle is-6">
                Verify a transansaction using a credential I just generated.
              </h4>
            </a>
          </div>
          <div class="column">

          </div>
        </div>
    </section>
  </div>

  {{> foot}}

  {{> firebase_body}}
  <script src="./create_credential.js"></script>
</body>

</html>