<!DOCTYPE html>
<html>
{{> head}}

<body class="main">
  {{> navbar}}

  <div id="wrapper" class="px-4">
    <div style="min-height: 14px;">
      <progress style="display: none" class="progress is-small" max="100">20%</progress>
    </div>
    <section class="section" class="section is-medium">
      <div class="container">
        <h1 class="title is-3">
          Verify Transaction
        </h1>
        <h1 class="subtitle is-3">
          Using a credential you created in the last step, verify a transaction
        </h1>
      </div>
    </section>

    <section id="enterChallenge" class="section is-medium">
      <div class="container">
        <div class="field">
          <label class="label">Enter the `challenge` field from the `POST /thirdpartyRequests/authorizations` request
            from the DFSP</label>
          <div class="control">
            <input id="challengeInput" class="input" type="text" placeholder="challenge"
              oninput="challengeOnInput(this.value)">
          </div>
        </div>

        <div class="field">
          <label class="label">Enter the id of the credential you previously registered</label>
          <div class="control">
            <input id="credentialIdInput" class="input" type="text" placeholder="credentialId"
              oninput="credentialIdOnInput(this.value)">
          </div>
        </div>

        <div id="submitChallengeField" class="field">
          <div class="control pt-2">
            <button style="display: block" id="submitChallengeButton" class="button is-link"
              onclick="onSubmitChallengePressed()">
              Submit
            </button>
          </div>
        </div>
      </div>
    </section>

    <section id="assertionResult" class="section is-medium">
      <div class="container">
        <div class="field">
          <label class="label">Copy and paste the result into the `PUT /thirdpartyRequests/authorizations payload</label>
          <div class="content">
            <pre>
{
  ...
}
            </pre>
          </div> 
        </div>
      </div>
    </section>


  </div>
  {{> foot}}
  {{> firebase_body}}
  <script src="./verify_transaction.js"></script>
</body>

</html>